@media(max-width:991px){
    .container{padding:0 15px}
    header nav ul li a{padding: 15px 22px;}   
    header .main-header a{font-size: 32px;}
    header .main-header a.call{font-size: 22px;}
    .right-content h2,.left-content h1{font-size: 24px;}
}
@media(max-width:767px){
    .container{padding:0px}
    header .main-header{padding:36px 60px 36px 15px}
    header .main-header a{flex:0 0 100%;max-width: 100%;font-size: 30px;}
    header .main-header a.call{flex:0 0 100%;max-width: 100%;font-size: 19px;padding-top: 10px;}
    header .fa-bars{display: block;position: absolute;top:50%;transform: translateY(-50%);right: 17px;color:#FFFFFF;font-size: 31px;z-index: 3;}    
    header .fa-bars:hover{cursor:pointer}
    header nav ul{position: fixed;top: 0;flex-direction: column;margin-left: -300px;z-index: 4;width:300px;height: 100%;padding-top: 47px;}
    header .fa-times{margin-left: -300px;position: fixed;display: block;z-index: 5;color:#FFFFFF;font-size: 22px;top: 15px;left: 265px;transition: all 0.4s ease-in-out;}
    header nav ul li.active{background-color: transparent;}
    .sidebar-toggle header nav ul{margin-left: 0;overflow: auto;flex-wrap: nowrap;}
    .sidebar-toggle header .overlay{display: block;position: fixed;top: 0;left: 0;bottom: 0; right: 0;background-color: #5b858585;z-index: 2;}
    .sidebar-toggle header .fa-times{margin-left: 0;}
    .content{padding:25px 15px;}
    .left-content{padding: 20px;flex:0 0 240px;}
    .left-content h1{font-size: 22px;}
    .right-wrapper{padding-left: 25px;}
    .right-content{padding:20px}
    .right-content p{padding-bottom: 20px;}
    .right-content h2{font-size: 22px;margin-bottom: 20px;}
}
@media(max-width:575px){
    header .main-header a{font-size: 28px;}
    header .main-header a.call{font-size: 17px;}
    header .main-header{padding:25px 60px 25px 15px}
    .content{flex-direction: column;padding:15px}
    .left-content{flex:0 0 100%;max-width: 100%;}
    .right-content{flex:0 0 100%;max-width: 100%;padding:15px}   
    .right-wrapper{padding:15px 0 0 0;}   
    footer span{display:flex;flex-direction: column;justify-content: center;}
    .left-content{padding:15px}
    .left-content ul li:last-child,.right-content ul li:last-child{padding-bottom: 0;}
}
@media(max-width:375px){
    header .main-header{padding-right: 55px;}
    header .main-header a{font-size: 24px;}
    header .main-header a.call{font-size: 15px;}
    header .fa-bars{font-size: 26px;}
    .sidebar-toggle header nav ul{width:100%}
    .sidebar-toggle header .fa-times{left: 90%;}
    .left-content h1{font-size: 20px;margin-bottom: 15px;}
    .right-content h2{font-size: 20px;margin-bottom: 15px;}
    .right-content p{padding-bottom: 15px;}
    .right-content h3{font-size: 18px;}    
}